<h1>People List</h1>

<tbody>
    <% @people.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td><%= p.email %></td>
        <td><%= p.phone %></td>
        <td><%= link_to('show', person_path(person_id)) %></td>
        <td><%= link_to('edit', edit_person_path(p.id)) %></td><br>
      </tr>

    <% end %>
  </tbody>